/.idea/
/build-scripts/
/test/

/babel.config.js
/jest.config.cjs
/yarn.lock
/*.tgz
/*.log
/.yarnclean
/nodemon.json
/.editorconfig
/tsconfig.*

*.d.ts
*.map
/.eslintrc.json
/.eslintrc.json

/pagesconfig.json